.search-expand {
  width: 300px;
  transition: width 0.4s ease;
}

.search-expand:focus,
.search-expand:hover {
  width: 1000px;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.btn-primary {
  background-color: #0097b2;
  color: white;
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #74ceda !important;
}